;Описание разделов меню
[\menu\NCadSDK]                             |name=sПримеры SDK
;[\menu\ТехничНазваниеРазделаМеню           |name=sОтображаемое название
[\menu\NCadSDK\NRX]                         |name=sNRX
;[\menu\ТехничНазваниеРазделаМеню\ТехничНазваниеПодразделаМеню             |name=sОтображаемое название подраздела
[\menu\NCadSDK\NRX\HelloNRX]                |name=sHelloNRX
[\menu\NCadSDK\NRX\HelloNRX\HelloNRX]       |name=sHelloNRX                |intername=sHelloNrx
;[\menu\ТехничНазваниеРазделаМеню\ТехничНазваниеПодразделаМеню             |name=sОтображаемое название подраздела
[\menu\NCadSDK\NRX\CrossCircle]             |name=sCrossCircle
;[\menu\ТехничНазваниеРазделаМеню\ТехничНазваниеПодразделаМеню\ТехничНазваниеПунктаМеню |name=sОтображаемое название пункта |intername=sИмяВыполняемойКоманды
[\menu\NCadSDK\NRX\CrossCircle\CrCircle]    |name=sCrCircle                |intername=sCrCircle
[\menu\NCadSDK\NRX\HelloMultiview\]         |name=sHelloMultiview
[\menu\NCadSDK\NRX\HelloMultiview\HelloClassMV]     |name=sHelloClassMV     |intername=sHelloClassMV_stdprops
[\menu\NCadSDK\NRX\HelloMultiview\HelloEntityMV]    |name=sHelloEntityMV    |intername=sHelloEntityMV_stdprops
[\menu\NCadSDK\NRX\HelloMultiview\RemoveMV]         |name=sRemoveMV         |intername=sRemoveMV

[\menu\NCadSDK\.NET]                         |name=s.NET
[\menu\NCadSDK\.NET\VB.NET]                |name=sVBNET
[\menu\NCadSDK\.NET\VB.NET\HelloHostVB]       |name=sHelloHostVB
[\menu\NCadSDK\.NET\VB.NET\HelloHostVB\HelloHost_Example1_VB]    |name=sHelloHost_Example1_VB                |intername=sHelloHost_Example1_VB
[\menu\NCadSDK\.NET\VB.NET\HelloHostVB\HelloHost_Example2_VB]    |name=sHelloHost_Example2_VB                |intername=sHelloHost_Example2_VB

[\menu\NCadSDK\.NET\C#]                |name=sC#
[\menu\NCadSDK\.NET\C#\HelloHost]       |name=sHelloHost
[\menu\NCadSDK\.NET\C#\HelloHost\HelloHost_Example1]    |name=sHelloHost_Example1                |intername=sHelloHost_Example1
[\menu\NCadSDK\.NET\C#\HelloHost\HelloHost_Example2]    |name=sHelloHost_Example2                |intername=sHelloHost_Example2

[\menu\NCadSDK\.NET\C#\CrossCircleMgdList]       |name=sCrossCircleMgdList
[\menu\NCadSDK\.NET\C#\CrossCircleMgdList\ListCrCr]    |name=sListCrCr                |intername=sListCrCr
[\menu\NCadSDK\.NET\C#\CrossCircleMgdList\ccjig]    |name=sccjig                |intername=sccjig

[\menu\NCadSDK\MultiCAD.NET]                |name=sMultiCAD.NET
[\menu\NCadSDK\MultiCAD.NET\HelloMultiCAD]              |name=sHelloMultiCAD
[\menu\NCadSDK\MultiCAD.NET\HelloMultiCAD\smpl_Format]  |name=ssmpl_Format     |intername=ssmpl_Format
[\menu\NCadSDK\MultiCAD.NET\HelloMultiCAD\smpl_Table1]  |name=ssmpl_Table1     |intername=ssmpl_Table1

[\menu\NCadSDK\LISP]                |name=sLISP
[\menu\NCadSDK\LISP\tiles]    |name=stiles               |intername=stiles
[\menu\NCadSDK\LISP\helloworld]    |name=shelloworld               |intername=shelloworld
[\menu\NCadSDK\LISP\listdialog]    |name=slistdialog              |intername=slistdialog
[\menu\NCadSDK\LISP\messagebox]    |name=sshow-message-box               |intername=sshow-message-box
[\menu\NCadSDK\LISP\sindialog]    |name=ssindialog              |intername=ssindialog

;Описание панели инструментов (toolbar)
;[\toolbars\ТехничНазваниеПанелиИнструментов]    |name=sОтображаемое Имя Панели Инструментов |InitialVisible=f1
[\toolbars\NCadSDK]                         |name=sNCadSDK Samples |InitialVisible=f1
[\toolbars\NCadSDK\HelloNRX]                |intername=sHelloNRX           |ToolTipText=sHelloNRX Sample Command
;[\toolbars\ТехничНазваниеПанелиИнструментов\ТехничНазваниеКнопки]    |intername=sИмяВыполняемойКоманды    |ToolTipText=sНадпись При Наведении Мышью
[\toolbars\NCadSDK\CrCircle]                |intername=sCrCircle           |ToolTipText=sCrCircle Sample Command
[\toolbars\NCadSDK\HelloHost_Example1_VB]                |intername=sHelloHost_Example1_VB           |ToolTipText=sHelloHost_Example1_VB Sample Command
[\toolbars\NCadSDK\HelloHost_Example2_VB]                |intername=sHelloHost_Example2_VB           |ToolTipText=sHelloHost_Example2_VB Sample Command
[\toolbars\NCadSDK\HelloHost_Example1]                |intername=sHelloHost_Example1           |ToolTipText=sHelloHost_Example1 Sample Command
[\toolbars\NCadSDK\HelloHost_Example2]                |intername=sHelloHost_Example2           |ToolTipText=sHelloHost_Example2 Sample Command
[\toolbars\NCadSDK\ListCrCr]                |intername=sListCrCr           |ToolTipText=sListCrCr Sample Command
;[\toolbars\NCadSDK\sep0] - разделитель, может принимать значения sep0, sep1, sep2, .. sepN
[\toolbars\NCadSDK\sep0]
[\toolbars\NCadSDK\ccjig]                |intername=sccjig           |ToolTipText=sccjig Sample Command
[\toolbars\NCadSDK\HelloEntityMV]                |intername=sHelloEntityMV_stdprops        |ToolTipText=sHelloEntityMultiview NRX Sample Command
[\toolbars\NCadSDK\smpl_Table1]                |intername=ssmpl_Table1        |ToolTipText=sHelloMultiCAD Create Table Command

;Параметры для управления отображением панели инструментов
[\menu\View\toolbars\NCadSDK]               |name=sПримеры SDK
[\menu\View\toolbars\NCadSDK\NCadSDK]       |name=sПримеры SDK |intername=sShowToolbar_NCadSDK

[\ToolbarPopupMenu\NCadSDK]                 |name=sПримеры SDK
[\ToolbarPopupMenu\NCadSDK\TOOLBAR_NCadSDK] |name=sПримеры SDK |intername=sShowToolbar_NCadSDK

;[\toolbarspos\NCadSDK] |DockPosition=sПоложениеПанелиИнструментов Top,Left,Right |row=iСтрокаРасположенияПанелиСверхуВниз |pos=iПорядокСлеваНаправоЕслиНесколькоПанелей
[\toolbarspos\NCadSDK]                      |DockPosition=sTop     |row=i5 |pos=i0

;Описание параметров для управления отображением панели инструментов
[\configman\commands\ShowToolbar_NCadSDK]
weight=i30 |CmdType=i0
intername=sShowToolbar_NCadSDK
DispName=sNCadSDK Samples
ToolTipText=sNCadSDK Samples
StatusText=sNCadSDK Samples

;Описание каждой кнопки на панели инструментов (toolbar)
;[\configman\commands\ТехничНазваниеКнопки]
;weight=iВесКнопки |CmdType=i1
;intername=sИмяВыполняемойКоманды
;BitmapDll=sРесурснаяБиблиотека.dll |ТипФайлаBMPилиИконка=sНазваниеИзРесурснойБиблиотеки
;DispName=sОтображаемоеИмяЕслиВключеноОтображениеНазванийКнопок
;ToolTipText=sНадпись При Наведении Мышью
;StatusText=sНадпись При Наведении Мышью

;Примечание
;В ленту (ribbon) можно подключить только те кнопки, которые описаны в разделе [\configman\commands\].
;Привязка кнопок к ленте осуществляется через параметр MenuMacroID, который указывается в файле с расширением .cui.
;Значение параметра MenuMacroID в файле .cui должно соответствовать имени команды в файле меню (.cfg).
;Например,
;Если [\configman\commands\MyNewCommand5], тогда MenuMacroID="MyNewCommand5".

[\configman\commands\HelloNRX]
weight=i30 |CmdType=i1
intername=sHelloNRX
BitmapDll=sMenuRes.dll |Icon=sn
DispName=sHelloNRX
ToolTipText=sHelloNRX Sample Command
StatusText=sHelloNRX Sample Command

[\configman\commands\CrCircle]
weight=i30 |CmdType=i1
intername=sCrCircle
BitmapDll=sMenuRes.dll |Icon=sa
DispName=sCrCircle
ToolTipText=sCrCircle Sample Command
StatusText=sCrCircle Sample Command

[\configman\commands\HelloHost_Example1_VB]
weight=i30 |CmdType=i1
intername=sHelloHost_Example1_VB
BitmapDll=sMenuRes.dll |Icon=sn
DispName=sHelloHost_Example1_VB
ToolTipText=sHelloHost_Example1_VB Sample Command
StatusText=sHelloHost_Example1_VB Sample Command

[\configman\commands\HelloHost_Example2_VB]
weight=i30 |CmdType=i1
intername=sHelloHost_Example2_VB
BitmapDll=sMenuRes.dll |Icon=so
DispName=sHelloHost_Example2_VB
ToolTipText=sHelloHost_Example2_VB Sample Command
StatusText=sHelloHost_Example2_VB Sample Command

[\configman\commands\HelloHost_Example1]
weight=i30 |CmdType=i1
intername=sHelloHost_Example1
BitmapDll=sMenuRes.dll |Icon=sc_cap
DispName=sHelloHost_Example1
ToolTipText=sHelloHost_Example1 Sample Command
StatusText=sHelloHost_Example1 Sample Command

[\configman\commands\HelloHost_Example2]
weight=i30 |CmdType=i1
intername=sHelloHost_Example2
BitmapDll=sMenuRes.dll |Icon=sa_cap
DispName=sHelloHost_Example2
ToolTipText=sHelloHost_Example2 Sample Command
StatusText=sHelloHost_Example2 Sample Command

[\configman\commands\ListCrCr]
weight=i30 |CmdType=i1
intername=sListCrCr
BitmapDll=sMenuRes.dll |BitmapId=sd_cap_bmp
DispName=sListCrCr
ToolTipText=sListCrCr Sample Command
StatusText=sListCrCr Sample Command

[\configman\commands\ccjig]
weight=i30 |CmdType=i1
intername=sccjig
BitmapDll=sMenuRes.dll |BitmapId=ss_cap_bmp
DispName=sccjig
ToolTipText=sccjig Sample Command
StatusText=sccjig Sample Command

[\configman\commands\HelloClassMV]
weight=i30 |CmdType=i1
intername=sHelloClassMV_stdprops
BitmapDll=sMenuRes.dll |BitmapId=sd_cap_bmp
DispName=sHelloClassMV
ToolTipText=sClass Multiview NRX Sample Command
StatusText=sClass Multiview NRX Sample Command

[\configman\commands\HelloEntityMV]
weight=i30 |CmdType=i1
intername=sHelloEntityMV_stdprops
BitmapDll=sMenuRes.dll |BitmapId=sd_cap_bmp
DispName=sHelloEntityMV
ToolTipText=sEntityMultiview NRX Sample Command
StatusText=sEntityMultiview NRX Sample Command

[\configman\commands\RemoveMV]
weight=i30 |CmdType=i1
intername=sRemoveMV
BitmapDll=sMenuRes.dll |BitmapId=sd_cap_bmp
DispName=sRemoveMV
ToolTipText=sRemove Multiview NRX Sample Command
StatusText=sRemove Multiview NRX Sample Command

[\configman\commands\smpl_Table1]
weight=i30 |CmdType=i1
intername=ssmpl_Table1
BitmapDll=sMenuRes.dll |Icon=sk_cap
DispName=ssmpl_Table1
ToolTipText=sHelloMultiCAD Create Table Command
StatusText=sHelloMultiCAD Create Table Command

[\configman\commands\smpl_Format]
weight=i30 |CmdType=i1
intername=ssmpl_Format
BitmapDll=sMenuRes.dll |Icon=sk_cap
DispName=ssmpl_Format
ToolTipText=sHelloMultiCAD Format Insert Command
StatusText=sHelloMultiCAD Format Insert Command

[\configman\commands\tiles]
weight=i30 |CmdType=i1
intername=stiles
BitmapDll=sMenuRes.dll |Icon=sn
DispName=stiles
ToolTipText=stiles Sample Command
StatusText=stiles Sample Command

[\configman\commands\helloworld]
weight=i30 |CmdType=i1
intername=shelloworld
BitmapDll=sMenuRes.dll |Icon=sc_cap
DispName=shelloworld
ToolTipText=shelloworld Sample Command
StatusText=shelloworld Sample Command

[\configman\commands\listdialog]
weight=i30 |CmdType=i1
intername=slistdialog
BitmapDll=sMenuRes.dll |Icon=sa
DispName=slistdialog
ToolTipText=slistdialog Sample Command
StatusText=slistdialog Sample Command

[\configman\commands\messagebox]
weight=i30 |CmdType=i1
intername=smessagebox
BitmapDll=sMenuRes.dll |Icon=sd_cap
DispName=smessagebox
ToolTipText=smessagebox Sample Command
StatusText=smessagebox Sample Command

[\configman\commands\sindialog]
weight=i30 |CmdType=i1
intername=ssindialog
BitmapDll=sMenuRes.dll |Icon=sa_cap
DispName=ssindialog
ToolTipText=ssindialog Sample Command
StatusText=ssindialog Sample Command

;Подключение ленты (ribbon)
;Файл NCadSDK.cuix является zip-архивом, который содержит три файла:
;Файл Menu_Package_Info.xml содержит метаинформацию
;Файл [Content_Types].xml содержит метаинформацию
;Файл RibbonRoot.cui - основной файл ленты (ribbon).
[\ribbon\SDK]
CUIX=s%CFG_PATH%\NCadSDK.cuix
visible=f1
